@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-geist-sans), "Geist Fallback";
  --font-mono: var(--font-geist-mono), "Geist Mono Fallback";
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  color-scheme: light;
  --background: white;
  --foreground: oklch(0.12 0.04 240);
  --card: oklch(0.97 0.025 230);
  --card-foreground: oklch(0.12 0.04 240);
  --popover: oklch(0.97 0.025 230);
  --popover-foreground: oklch(0.12 0.04 240);
  --primary: oklch(0.45 0.22 250);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.86 0.06 230);
  --secondary-foreground: oklch(0.25 0.1 250);
  --muted: oklch(0.87 0.04 230);
  --muted-foreground: oklch(0.46 0.06 240);
  --accent: oklch(0.83 0.08 215);
  --accent-foreground: oklch(0.2 0.1 250);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.8 0.06 230);
  --input: oklch(0.8 0.06 230);
  --ring: oklch(0.55 0.18 250);
  --chart-1: oklch(0.45 0.22 250);
  --chart-2: oklch(0.58 0.2 220);
  --chart-3: oklch(0.52 0.22 270);
  --chart-4: oklch(0.65 0.15 200);
  --chart-5: oklch(0.55 0.2 240);
  --radius: 0.75rem;
  --sidebar: oklch(0.88 0.05 230);
  --sidebar-foreground: oklch(0.12 0.04 240);
  --sidebar-primary: oklch(0.45 0.22 250);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.85 0.06 230);
  --sidebar-accent-foreground: oklch(0.25 0.1 250);
  --sidebar-border: oklch(0.8 0.06 230);
  --sidebar-ring: oklch(0.55 0.18 250);
}

/* dark mode */
html.dark {
  color-scheme: dark;
  --background: black;
  --foreground: oklch(0.94 0.02 230);
  --card: oklch(0.25 0.055 240);
  --card-foreground: oklch(0.94 0.02 230);
  --popover: oklch(96.948% 0.00764 229.414);
  --popover-foreground: oklch(0.94 0.02 230);
  --primary: oklch(80.303% 0.24181 146.286);
  --primary-foreground: oklch(0.1 0.03 240);
  --secondary: oklch(0.3 0.055 240);
  --secondary-foreground: oklch(0.9 0.02 230);
  --muted: oklch(0.3 0.04 240);
  --muted-foreground: oklch(0.62 0.05 235);
  --accent: oklch(11.415% 0.01588 216.392);
  --accent-foreground: oklch(0.92 0.02 230);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 12%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(77.88% 0.23954 145.302);
  --chart-1: oklch(58.695% 0.19418 143.168);
  --chart-2: oklch(0.55 0.2 220);
  --chart-3: oklch(0.58 0.22 260);
  --chart-4: oklch(0.65 0.15 200);
  --chart-5: oklch(0.6 0.2 250);
  --sidebar: oklch(10.658% 0.01976 222.441);
  --sidebar-foreground: oklch(0.94 0.02 230);
  --sidebar-primary: oklch(62.678% 0.22211 34.575);
  --sidebar-primary-foreground: oklch(0.1 0.03 240);
  --sidebar-accent: oklch(77.715% 0.24908 144.181);
  --sidebar-accent-foreground: oklch(0.9 0.02 230);
  --sidebar-border: oklch(1 0 0 / 12%);
  --sidebar-ring: oklch(0.55 0.18 240);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
